body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-with: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --header-color: #ececec;
  --accent-color: #2196f3;
  --background-footer-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --logo-text-color: #000000;
  --main-font: Roboto, sans serif;
  --backround-color: #ffffff;
  --logo-color: #2f303a;
  --img-portfolio-text: #eeeeee;
  --socials-icon-color: #afb1b8;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --form-border-color: rgba(33 33, 33, 0.2);
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
@media screen and (max-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) and (max-with: 1199px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
}

.benefits__name {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* .hero-item:not(:last-child) {
  margin-right: 30px;
/* } */
.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits-pre__title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 480px) {
  .benefits-pre__title {
    width: 100%;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--socials-icon-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
  transition: opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px 40px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms var(--animation-timing-function) opacity 250ms var(--animation-timing-function) visibility 250ms var(--animation-timing-function);
  transition: -webkit-transform 250ms var(--animation-timing-function) opacity 250ms var(--animation-timing-function) visibility 250ms var(--animation-timing-function);
  transition: transform 250ms var(--animation-timing-function) opacity 250ms var(--animation-timing-function) visibility 250ms var(--animation-timing-function);
  transition: transform 250ms var(--animation-timing-function) opacity 250ms var(--animation-timing-function) visibility 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function) opacity 250ms var(--animation-timing-function) visibility 250ms var(--animation-timing-function);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: var(--backround-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--logo-text-color);
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  text-align: start;
  -webkit-transition: border-color 250ms var(--animation-timing-function);
  transition: border-color 250ms var(--animation-timing-function);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: var(--logo-text-color);
  -webkit-transition: fill 250ms var(--animation-timing-function);
  transition: fill 250ms var(--animation-timing-function);
}

.form-field:focus-within .form-input,
.form-field:hover .form-input {
  border: 1px solid var(--accent-color);
}

.form-field:focus-within .icon-input,
.form-field:hover .icon-input {
  fill: var(--accent-color);
}

.form-label {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-input {
  padding: 11px 12px;
  padding-left: 43px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--animation-timing-function);
  transition: border 250ms var(--animation-timing-function);
  outline: transparent;
}

.form-field:focus-within .form-area,
.form-field:hover .form-area {
  border: 1px solid var(--accent-color);
}

.form-textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea {
  margin-bottom: 20px;
}

.form-area {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: border 250ms var(--animation-timing-function);
  transition: border 250ms var(--animation-timing-function);
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.agreement-form {
  margin-bottom: 30px;
  padding-right: 11px;
  padding-left: 70px;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox {
  position: absolute;
  bottom: 124px;
  left: 85px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-text-color);
  border-radius: 1px;
  background-color: var(--backround-color);
}

.check-input:checked + .checkbox {
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='16' height='15' rx='2' fill='%232196F3'/%3e%3cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3e%3c/svg%3e");
}

.agreement-label {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.agreement-text {
  text-decoration: underline;
  color: var(--accent-color);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--backround-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms var(--animation-timing-function);
  transition: fill 250ms var(--animation-timing-function);
}

.jumpin-button {
  -webkit-animation: junpin-button 0.9s both;
          animation: junpin-button 0.9s both;
}

@-webkit-keyframes junpin-button {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes junpin-button {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
.form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 52px;
  margin-top: 30px;
  margin: 0 auto;
  cursor: pointer;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.close-icon {
  fill: var(--logo-text-color);
  -webkit-transition: fill 250ms var(--animation-timing-function);
  transition: fill 250ms var(--animation-timing-function);
}

.close-icon:hover,
.close-icon:focus {
  fill: var(--accent-color);
}

.team {
  padding-top: 0;
}

.gallery__item:not(:last-child) {
  margin-right: 30px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.overlay__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 1;
}

.overlay__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  width: 370px;
  height: 70px;
  color: var(--backround-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo:hover, .header-logo:focus {
  color: #188ce8;
}

.first-part {
  color: #2196f3;
}

.last-part {
  color: #000000;
}

.header-nav-link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition: color 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function);
}
@media screen and (max-width: 480px) {
  .header-nav-link {
    padding-top: 0;
  }
}

.header-link-mail {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function);
}

.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function);
}

.icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}

.header-link-mail:hover .icon-mail,
.header-link-mail:focus .icon-mail {
  color: var(--accent-color--);
}

.header-item {
  position: relative;
  display: block;
  text-decoration: none;
}

.current a {
  color: var(--accent-color);
}
.current a .header-item.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  margin-bottom: -1px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about-item:not(:last-child) {
  gap: 30px;
}

.img-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team {
  background-color: #f5f4fa;
}

.about-item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--backround-color);
}

.workers-img {
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.about-item {
  overflow: hidden;
}

.about-item:hover .workers-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about-item {
  gap: 30px;
}

.about-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.about-pre-title {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--socials-icon-color);
  border-radius: 50%;
  -webkit-transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.socials-icon {
  fill: currentColor;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu {
  text-decoration: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--backround-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container .menu-toggle:hover, .menu-container .menu-toggle:focus {
  fill: #2196f3;
}

.mobile-menu {
  display: block;
  margin-bottom: auto;
}
.mobile-menu .mobile-menu__item:not(:last-child) {
  margin-bottom: 30px;
}
.mobile-menu .mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu .mobile-menu__link--current {
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 64px;
  display: block;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-contacts .mobile-contacts__link-email {
  font-size: 24px;
  color: #212121;
}
.mobile-contacts .mobile-contacts__link-phone {
  font-size: 34px;
  color: #2196f3;
}
.mobile-contacts .mobile-contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-socials__item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */