.section {
  padding-top: 60px;
  padding-bottom: 0;

  @media screen and (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
}
.benefits__list {
  gap: 30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: $desctop) {
    display: flex;
    flex-wrap: nowrap;
  }
}
.benefits__item {
  @media screen and (min-width: $tablet) {
    max-width: 354px;
  }
  @media screen and (min-width: $desctop) {
    max-width: 270px;
  }
}

.benefits__icon {
  justify-content: center;
  align-items: center;
  gap: 30px;

  height: 120px;
}

.benefits__name {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits-pre__title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  @media screen and (min-width: $mobile) {
    width: 100%;
  }
}
