.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-nav-list {
  display: flex;
  margin-left: 87px;
  gap: 30px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) and (max-width: $desctop) {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-list:not(:last-child) {
    margin-bottom: 10px;
  }
}
.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  &:hover,
  &:focus {
    color: #188ce8;
  }
}

.first-part {
  color: #2196f3;
}
.last-part {
  color: #000000;
}

.header-nav-link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms var(--animation-timing-function);
}
.header-link-mail {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  transition: color 250ms var(--animation-timing-function);
}

.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--animation-timing-function);
}

.icon-mail {
  fill: currentColor;
  margin-right: 10px;
}
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}

.header-link-mail:hover .icon-mail,
.header-link-mail:focus .icon-mail {
  color: var(--accent-color--);
}

.header-item {
  display: block;
  text-decoration: none;
}

.current a {
  color: var(--accent-color);

  .header-item.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    margin-bottom: -1px;
  }
}
.header-nav {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
