body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.section {
  @media screen and (max-with: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  padding-top: 94px;
  padding-bottom: 94px;
}


$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;


a {
  text-decoration: none;
}
.menu {
  list-style: none;
}
