:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --header-color: #ececec;
  --accent-color: #2196f3;
  --background-footer-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --logo-text-color: #000000;
  --main-font: Roboto, sans serif;
  --backround-color: #ffffff;
  --logo-color: #2f303a;
  --img-portfolio-text: #eeeeee;
  --socials-icon-color: #afb1b8;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --form-border-color: rgba(33 33, 33, 0.2);
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
